In [1]:
import pandas as pd

# Unidad 1
## Problemas equivalencia lógica

1. $\sim(\sim p) \Leftrightarrow p$ **Es una equivalencia lógica** Porque:

In [2]:
valores_verdad = [(p) for p in [True, False]]

tablas_verdad = pd.DataFrame(valores_verdad, columns=['p'])
tablas_verdad['~p'] = ~tablas_verdad['p']
tablas_verdad['~(~p)'] = ~tablas_verdad['~p']
tablas_verdad['~(~p) <=> p'] = tablas_verdad.apply(lambda row: row['~(~p)'] == row['p'], axis=1)
tablas_verdad

       p     ~p  ~(~p)  ~(~p) <=> p
0   True  False   True         True
1  False   True  False         True

2. $(p \Rightarrow q) \Leftrightarrow (\sim p \vee q)$ **Es una equivalencia lógica porque**

In [3]:
# setup
valores_verdad = [(p, q) for p in [True, False] for q in [True, False]]
tablas_verdad = pd.DataFrame(valores_verdad, columns=['p', 'q'])

# columnas calculadas
tablas_verdad['p => q'] = tablas_verdad.apply(lambda row: not row['p'] or row['q'], axis=1)
tablas_verdad['~p'] = ~tablas_verdad['p']
tablas_verdad['(~p V q)'] = tablas_verdad.apply(lambda row: row['~p'] or row['q'], axis=1)
tablas_verdad['(p => q) <=> (~p V q)'] = tablas_verdad.apply(lambda row: row['p => q'] == row['(~p V q)'], axis=1)
tablas_verdad

       p      q  p => q     ~p  (~p V q)  (p => q) <=> (~p V q)
0   True   True    True  False      True                   True
1   True  False   False  False     False                   True
2  False   True    True   True      True                   True
3  False  False    True   True      True                   True

3. $\sim(p \vee q) \Leftrightarrow (\sim p \vee q)$ **La expresión no es una equivalencia lógica porque**

In [6]:
valores_verdad = [(p,q) for p in [True, False] for q in [True, False]]

tabla_verdad = pd.DataFrame(valores_verdad, columns=['p', 'q'])
tabla_verdad['p v q'] = tabla_verdad.apply(lambda row: row['p'] or row['q'], axis=1)
tabla_verdad['~(p v q)'] = ~tabla_verdad['p v q']
tabla_verdad['-p'] = ~tabla_verdad['p']
tabla_verdad['(-p v q)'] = tabla_verdad.apply(lambda row: row['-p'] or row['q'], axis=1)
tabla_verdad['~(p v q) <=> (~p v q)'] = tabla_verdad.apply(lambda row: row['~(p v q)'] == row['(-p v q)'], axis=1)
tabla_verdad

       p      q  p v q  ~(p v q)     -p  (-p v q)  ~(p v q) <=> (~p v q)
0   True   True   True     False  False      True                  False
1   True  False   True     False  False     False                   True
2  False   True   True     False   True      True                  False
3  False  False  False      True   True      True                   True

### $[(p \wedge q) \wedge r] \Leftrightarrow [p \wedge (q \wedge r)]$  
**No es una equivalencia lógica porque**

In [36]:
valores_verdad = [(p,q,r) for p in [True, False] for q in [True, False] for r in [True, False]]

tabla_verdad = pd.DataFrame(valores_verdad, columns=['p','q','r'])
tabla_verdad['p & q'] = tabla_verdad.apply(lambda row: row['p'] and row['q'], axis=1)
tabla_verdad['(p & q) & r'] = tabla_verdad.apply(lambda row: (row['p'] and row['q']) and row['r'], axis=1)
tabla_verdad['q & r'] = tabla_verdad.apply(lambda row: row['q'] and row['r'], axis=1)
tabla_verdad['p & (q & r)'] = tabla_verdad.apply(lambda row: row['q'] and row['q & r'], axis=1)
tabla_verdad['[(p & q) & r] <=> [p & (q & r)]'] = tabla_verdad.apply(lambda row: row['(p & q) & r'] == row['p & (q & r)'], axis=1)

tabla_verdad

,p,q,r,p & q,(p & q) & r,q & r,p & (q & r),[(p & q) & r] <=> [p & (q & r)]
0,True,True,True,True,True,True,True,True
1,True,True,False,True,True,False,False,False
2,True,False,True,False,True,False,False,False
3,True,False,False,False,True,False,False,False
4,False,True,True,False,True,True,True,True
5,False,True,False,False,True,False,False,False
6,False,False,True,False,True,False,False,False
7,False,False,False,False,False,False,False,True

### $[p \Rightarrow (q \vee r)] \Leftrightarrow [(p \wedge \sim q) \Rightarrow r]$
Es una equivalencia Logica porque:

In [35]:
valores_verdad = [(p,q,r) for p in [True, False] for q in [True, False] for r in [True, False]]

tabla_verdad = pd.DataFrame(valores_verdad, columns=('p','q', 'r'))

tabla_verdad['p =>(q V r)']=tabla_verdad.apply(lambda row: not row['p'] or (row['q'] or row['r']), axis=1)
tabla_verdad['(p & ~q) => r'] = tabla_verdad.apply(lambda row: not(row['p'] and not row['q']) or row['r'], axis=1)
tabla_verdad['equivalencia']= tabla_verdad['p =>(q V r)'] == tabla_verdad['(p & ~q) => r']

tabla_verdad

       p      q      r  p =>(q V r)  (p & ~q) => r  equivalencia
0   True   True   True         True           True          True
1   True   True  False         True           True          True
2   True  False   True         True           True          True
3   True  False  False        False          False          True
4  False   True   True         True           True          True
5  False   True  False         True           True          True
6  False  False   True         True           True          True
7  False  False  False         True           True          True